{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ book.category }}</td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{ book.language }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ book.author }}</td>
            </tr>
            <tr>
                <th>EditionYear</th>
                <td>{{ book.editionYear }}</td>
            </tr>
            <tr>
                <th>TotalPages</th>
                <td>{{ book.totalPages }}</td>
            </tr>
            <tr>
                <th>Editor</th>
                <td>{{ book.editor }}</td>
            </tr>
            <tr>
                <th>Isbn</th>
                <td>{{ book.isbn }}</td>
            </tr>
            <tr>
                <th>Shape</th>
                <td>{{ book.shape }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('book_index') }}">back to list</a>

    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
